<!-- section 10  - footer -->
<div class="ayur-footer-section">
    <div class="container">
        <div class="flex justify-evenly lg:flex-row flex-col">

            <div class="lg:col-span-6 md:col-span-12 sm:col-span-12">
                <div class="ayur-footer-box">
                    <!-- <h4 i18n="@@footerOurLocation">Our Location</h4> -->
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3758.9795663953896!2d74.19280017521822!3d19.58537608172694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDM1JzA3LjQiTiA3NMKwMTEnNDMuNCJF!5e0!3m2!1sen!2sin!4v1777224664996!5m2!1sen!2sin"
                        width="auto" height="auto" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="lg:col-span-6 md:col-span-12 sm:col-span-12 flex flex-col items-center">
                <div class="ayur-footer-box">
                    <!-- <h4 i18n="@@footerAddress">Address</h4> -->
                    <ul class="ayur-contact-list">
                        <li class="ayur-contact-box">
                            <img src="https://kamleshyadav.com/html/pure-ayurveda/html/pureayurveda-demo/assets/images/location.png"
                                alt="icon">
                            <p i18n="@@footerAddressText">4517 Washington Ave. <br> Manchester, Kentucky 39495</p>
                        </li>
                        <li class="ayur-contact-box">
                            <img src="https://kamleshyadav.com/html/pure-ayurveda/html/pureayurveda-demo/assets/images/mobile.png"
                                alt="icon">
                            <p>(208) 555-0112</p>
                        </li>
                        <li class="ayur-contact-box">
                            <img src="https://kamleshyadav.com/html/pure-ayurveda/html/pureayurveda-demo/assets/images/email.png"
                                alt="icon">
                            <p>example@gmail.com</p>
                        </li>
                    </ul>

                    <ul class="ayur-social-link">
                        <li>
                            <a href="javascript:void(0)">
                                <svg width="11" height="20" viewBox="0 0 11 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.74157 20V10.8777H9.80231L10.2615 7.32156H6.74157V5.05147C6.74157 4.0222 7.02622 3.32076 8.50386 3.32076L10.3854 3.31999V0.13923C10.06 0.0969453 8.94308 0 7.64308 0C4.92848 0 3.07002 1.65697 3.07002 4.69927V7.32156H0V10.8777H3.07002V20H6.74157Z"
                                        fill="#E4D4CF" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M11.8138 8.46864L19.0991 0H17.3727L11.0469 7.3532L5.9944 0H0.166992L7.8073 11.1193L0.166992 20H1.89349L8.57377 12.2348L13.9095 20H19.7369L11.8133 8.46864H11.8138ZM9.4491 11.2173L8.67498 10.1101L2.51557 1.29967H5.16736L10.1381 8.40994L10.9122 9.51718L17.3735 18.7594H14.7218L9.4491 11.2177V11.2173Z"
                                        fill="#E4D4CF" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <svg width="21" height="20" viewBox="0 0 21 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.4996 0H5.49988C2.75019 0 0.5 2.25019 0.5 4.99988V15.0001C0.5 17.7491 2.75019 20 5.49988 20H15.4996C18.2493 20 20.4995 17.7491 20.4995 15.0001V4.99988C20.4995 2.25019 18.2493 0 15.4996 0ZM18.8328 15.0001C18.8328 16.8376 17.3381 18.3333 15.4996 18.3333H5.49988C3.66218 18.3333 2.16671 16.8376 2.16671 15.0001V4.99988C2.16671 3.16193 3.66218 1.66671 5.49988 1.66671H15.4996C17.3381 1.66671 18.8328 3.16193 18.8328 4.99988V15.0001Z"
                                        fill="#E4D4CF" />
                                    <path
                                        d="M15.9172 5.83295C16.6075 5.83295 17.1672 5.27332 17.1672 4.58298C17.1672 3.89264 16.6075 3.33301 15.9172 3.33301C15.2269 3.33301 14.6672 3.89264 14.6672 4.58298C14.6672 5.27332 15.2269 5.83295 15.9172 5.83295Z"
                                        fill="#E4D4CF" />
                                    <path
                                        d="M10.4999 5C7.73793 5 5.5 7.23818 5.5 9.99988C5.5 12.7606 7.73793 15.0002 10.4999 15.0002C13.261 15.0002 15.4998 12.7606 15.4998 9.99988C15.4998 7.23818 13.261 5 10.4999 5ZM10.4999 13.3335C8.65915 13.3335 7.16671 11.8411 7.16671 9.99988C7.16671 8.15866 8.65915 6.66671 10.4999 6.66671C12.3406 6.66671 13.833 8.15866 13.833 9.99988C13.833 11.8411 12.3406 13.3335 10.4999 13.3335Z"
                                        fill="#E4D4CF" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <svg width="17" height="20" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M19 0H5C2.24 0 0 2.24 0 5V19C0 21.76 2.24 24 5 24H19C21.76 24 24 21.76 24 19V5C24 2.24 21.76 0 19 0ZM7.5 20H4.5V8.89H7.5V20ZM6 7.17C4.79 7.17 3.81 6.19 3.81 4.98C3.81 3.77 4.79 2.79 6 2.79C7.21 2.79 8.19 3.77 8.19 4.98C8.19 6.19 7.21 7.17 6 7.17ZM20 20H17V14.5C17 13.12 16.98 11.26 14.84 11.26C12.68 11.26 12.43 13.08 12.43 14.4V20H9.43V8.89H12.35V10.37H12.42C12.86 9.55 14.04 8.68 15.75 8.68C19.12 8.68 20 10.94 20 14.03V20Z"
                                        fill="#E4D4CF" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- recent blog -->
            <!-- <div class="lg:col-span-3 md:col-span-6 sm:col-span-6 px-0">
                    <div class="ayur-footer-box">
                        <h4>Recent Blog</h4>
                        <ul class="ayur-recent-blog">
                            <li class="ayur-recentblog-box gen-f5v-ayur-tpro-">
                                <div class="ayur-recentblog-boximg">
                                    <img src="https://kamleshyadav.com/html/pure-ayurveda/html/pureayurveda-demo/assets/images/footer-blog1.png"
                                        alt="image">
                                </div>
                                <div class="ayur-recentblog-text">
                                    <p class="date">Jun 10,2024</p>
                                    <h3 class="text">Amet minim mollit non deserunt est sit Velit officia consequat.
                                    </h3>
                                </div>
                            </li>
                            <li class="ayur-recentblog-box">
                                <div class="ayur-recentblog-boximg">
                                    <img src="https://kamleshyadav.com/html/pure-ayurveda/html/pureayurveda-demo/assets/images/footer-blog2.png"
                                        alt="image">
                                </div>
                                <div class="ayur-recentblog-text">
                                    <p class="date">Jun 10,2024</p>
                                    <h3 class="text">Amet minim mollit non deserunt est sit Velit officia consequat.
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div> -->
        </div>
        <div class="ayur-copyright-para">
            <p i18n="@@footerCopyright">Copyright © 2026. All Rights Reserved | Shree Raseshwar Ayurveda | Design and Developed by <a class="cursor-pointer" href="https://linkedin.com/in/sujit-codes" target="_blank">Sujit Pasalkar</a></p>
        </div>
    </div>
    <div class="ayur-bgshape ayur-footer-bgshape">
        <img src="https://kamleshyadav.com/html/pure-ayurveda/html/pureayurveda-demo/assets/images/footer-left.png"
            alt="img">
        <img src="https://kamleshyadav.com/html/pure-ayurveda/html/pureayurveda-demo/assets/images/footer-right.png"
            alt="img">
    </div>
</div>