<div class="pt-28.5 relative">
    <div class="container">
        <div class="grid grid-cols-12 gap-8">
            <div class="sm:col-span-12 md:col-span-12 lg:col-span-6">
                <div class="ayur-about-img">
                    <img src="https://kamleshyadav.com/html/pure-ayurveda/html/pureayurveda-demo/assets/images/about-img.png"
                        alt="img" data-tilt data-tilt-max="10" data-tilt-speed="1000" data-tilt-perspective="1000"
                        id="style-XhoBs" class="style-XhoBs">
                    <div class="ayur-about-exp">
                        <p>13</p>
                        <p>Years of Experience</p>
                    </div>
                </div>
            </div>
            <div class="sm:col-span-12 md:col-span-12 lg:col-span-6">
                <div class="ayur-heading-wrap ayur-about-head">
                    <h5>Who We Are</h5>
                    <h3>The Natural Way To Achieving Balance And Optimal Health</h3>
                    <p>We believe that true health comes from balance—of body, mind, and lifestyle. Rooted in the
                        timeless wisdom of Ayurveda, our approach focuses on identifying the root cause rather than just
                        treating symptoms. With years of experience, we combine traditional healing practices with
                        modern understanding to guide you toward sustainable wellness, natural healing, and a healthier,
                        more harmonious life.</p>
                    <a href="about.html"
                        class="inline-block min-w-[145px] rounded-[22px] bg-[#cd8973] min-h-[45px] border border-[#f2efec] text-white font-medium text-center capitalize py-[9px] relative overflow-hidden z-[1] transition-all duration-300 hover:text-white after:absolute after:content-[''] after:block after:top-1/2 after:left-1/2 after:w-full after:h-0 after:rounded-[15px] after:bg-[#222222] after:-z-[1] after:transition-all after:duration-700 after:-translate-x-1/2 after:-translate-y-1/2 after:-rotate-45 hover:after:h-[380%]">
                        Consult Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ayur-bgshape ayur-about-bgshape">
        <img src="https://kamleshyadav.com/html/pure-ayurveda/html/pureayurveda-demo/assets/images/bg-shape2.png"
            alt="img">
        <img src="https://kamleshyadav.com/html/pure-ayurveda/html/pureayurveda-demo/assets/images/bg-leaf2.png"
            alt="img">
    </div>
</div>