<div class="ayur-banner-section bg-center bg-cover bg-no-repeat" style="background-image: url('/banner-bg.png');">
    <div class="container">
        <div class="row">
            <div class="col-12 lg:col-span-12 md:col-span-12 sm:col-span-12">
                <div class="ayur-banner-heading">
                    <h1>Welcome to <span>Shri Raseshwar Ayurveda</span> </h1>
                    <p>Experience authentic Ayurvedic healing tailored to you — effective, affordable, and rooted in
                        centuries of tradition. We specialize in personalized Ayurvedic therapies and holistic
                        treatments that restore balance and promote lasting wellness.</p>
                    <button
                        class="inline-block min-w-40 rounded-[22px] bg-[#cd8973] min-h-11.25 border border-[#f2efec] text-white font-medium text-center capitalize py-2.25 relative overflow-hidden z-1 transition-all duration-300 hover:text-[#cd8973] after:absolute after:content-[''] after:block after:top-1/2 after:left-1/2 after:w-full after:h-0 after:rounded-[15px] after:bg-[#222222] after:-z-1 after:transition-all after:duration-700 after:-translate-x-1/2 after:-translate-y-1/2 after:-rotate-45 hover:after:h-[380%]">
                        Book Appointment</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pt-1.75 px-0 -mb-57.5 mx-auto">
                    <div
                        class="swiper ayur-banner-slider swiper-creative swiper-3d swiper-initialized swiper-horizontal swiper-watch-progress">
                        <div class="top-0 flex justify-center" aria-label="Raseshwar Ayurveda banner image">
                            <img src="ban-head-Image.png" alt="headerimage">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ayur-ban-leaf">
        <img src="ban-leafleft.png" alt="leaf-image">
        <img src="ban-leafright.png" alt="leaf-image">
    </div>
</div>