<div class="ayur-banner-section bg-center bg-cover bg-no-repeat" style="background-image: url('/banner-bg.png');" id="home">
    <div class="container">
        <div class="row">
            <div class="col-12 lg:col-span-12 md:col-span-12 sm:col-span-12">
                <div class="ayur-banner-heading">
                    <h1 class="sm:text-5xl">Welcome to <span>Shree Raseshwar Ayurveda</span></h1>
                    <p>Experience authentic Ayurvedic healing tailored to you — effective, affordable, and rooted in
                        centuries of tradition. We specialize in personalized Ayurvedic therapies and holistic
                        treatments that restore balance and promote lasting wellness.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pt-1.75 px-0 -mb-57.5 mx-auto">
                    <div
                        class="sec-head swiper ayur-banner-slider swiper-creative swiper-3d swiper-initialized swiper-horizontal swiper-watch-progress">
                        <div class="top-0 flex justify-center" aria-label="Raseshwar Ayurveda banner image">
                            <img src="rs-logo-4-only-tree.png" alt="headerimage">
                        </div>
                        <h3 class="flex justify-center text-center mt-5 font-bold lg:text-2xl text-base text-green-800">
                            रोगमादौ परीक्षेत ततोऽनन्तरमौषधम् ।
                        </h3>
                        <h3 class="flex justify-center text-center mt-1 font-bold lg:text-2xl text-base text-green-800">
                            ततः कर्म भिषक्पश्यात् ज्ञानपूर्वं समाचरेत् ॥
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ayur-ban-leaf">
        <img src="ban-leafleft.png" alt="leaf-image">
    </div>
</div>