<header class="h-9 absolute left-0 right-0 top-0 flex justify-between items-center py-5 px-5 bg-[#f2efec] text-sm text-gray-600"> 
    <div class="flex gap-2 ">
        <i class="pi pi-facebook"></i>
        <span class="pi pi-instagram"></span>
        <span class="pi pi-whatsapp"></span>
        <span class="pi pi-linkedin"></span>
    </div>
    <div class="flex gap-4 items-center">
        <span class="pi pi-phone"></span>
        <span class="">+91 7972241516 / +91 9820241516</span>
    </div>
</header>